.container{
    display: flex; 
    overflow: auto;
    background-color: #1ccfc9;
    max-width: 100%;
}
.logo{
    text-transform: uppercase;
    font-size: 50px;
    color: #fffbe8;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: 10px;  
}
.menu{
    font-size: 20px;
    color: #fffbe8;
    text-decoration: none;
    padding-right: 20px;
    padding-top: 40px;
    left:0
}

.search{
    height: 50px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

@media(max-width:900px){
    .header{
        padding-top: 15px;
        font-size: 60px;
    }
}